/* ####################### */
/* Цвета */
/* ####################### */

$main: #7cb8ff;





/* ####################### */
/* Шрифты */
/* ####################### */

$lato: "Lato", Arial, sans-serif;
$ptserif: "PT Serif", "Lato", Arial, sans-serif;
$muller: "Muller", "Lato", Arial, sans-serif;





/* ####################### */
/* Базовый CSS */
/* ####################### */

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
border: none;
}
*:focus {outline: none;}

/* Цвет выделения текста */
::selection {background: $main; color:white;}
::-moz-selection {background: $main; color:white;}
::-webkit-selection {background: $main; color:white;}

/* Цвет плейсхолдера */
::-webkit-input-placeholder {color:#cacaca}
::-moz-placeholder {color:#cacaca}
:-ms-input-placeholder {color:#cacaca}
:-moz-placeholder {color:#cacaca}

/* Фиксирование для body (при кастомных модальных окнах) */
.noscroll {position: fixed;}

/* Настройки для автозаполнения Chrome */
input:-webkit-autofill {
    -webkit-text-fill-color: black !important; // Поменять цвет на аналогичный цвету input'а
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000000000s ease-in-out 0s !important;
}





/* ####################### */
/* Основы */
/* ####################### */

html {width:100%; min-height:100%}
body {width:100%; min-height:100%; font-size:0; font-family: $lato;}
html, body {overflow-x: hidden;}
header, section, footer, main {width:100%; float:left; clear:left;}
.container {width:1210px; margin:0 auto;
    &_big {width:1290px}
}





/* ####################### */
/* Типографика */
/* ####################### */

h1,h2,h3,h4,h5,h6,p,span,ul,li {margin:0; padding:0}
ul {list-style:none}
span {font-style: inherit; font-family: inherit; font-weight: inherit;}
p {font-size:14px; line-height:1.7em;}

.subtitle {font-size:74px; text-align: center; text-transform: uppercase; line-height:(89/74)*1em; font-weight:100; color:#7cb8ff}
.smalltitle {font-size:20px; line-height:(24/20)*1em; color:#8e99a8; font-weight:600; letter-spacing: 0.01em;
    a {border-bottom:1px solid; color:inherit}
    a:hover {color:#abb3bd}
    &+.blue-links-list {margin-top:23px;}
    &+.columns__maintext {margin-top:36px;}
}





/* ####################### */
/* Формы, кнопки, поля ввода */
/* ####################### */

a,input,button,select,textarea,.button,use {transition:all .2s ease-in-out; box-sizing:border-box;}
a {text-decoration: inherit; font-weight: inherit; line-height:inherit; color:inherit;}

select, input, textarea {padding: 10px; text-align: left; margin: 0; padding:0; border: 0; border-radius:0; font-size: 14px; display:inline-block;}

.button {text-align:center; border-radius:1000px; border:1px solid #7eb9ff; padding:0 20px; display:inline-block; color:#3078bf; font-size:14px; height:42px; line-height:40px; background-color: transparent; letter-spacing: 0.02em;
    &:hover {background-color:#3078bf; box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.06); border-color:#1d8dd3; color:white;}
    &:active {box-shadow:0 0 0 0 transparent;}
    &:disabled {border-color:#dedede; color:#cacaca;}
    &__big {height:44px; line-height:42px; font-size:20px;}
}





/* ####################### */
/* Элементы UI */
/* ####################### */

.header {padding-top:7px;
    .container {display:flex; justify-content: space-between; align-items: flex-end;}
    &__logo {position: relative; bottom:2px;
        img {background-color:#ccc}
    }
    &__menu {margin:0 20px; margin-bottom: 34px;
        li {display:inline-block; vertical-align: middle; margin-right:28px;
            &:last-child {margin-right:0}
        }
        a {line-height:(17/14)*1em; font-size: 14px; font-weight: 500; letter-spacing: 0.026em; color: #2c7cc3; text-transform: uppercase;
            &:hover {color:#5f98da;
                use {fill:#5f98da}
            }
            use {fill:#1893D3;}
            svg {vertical-align: middle; margin-bottom:2px}
        }
    }
    &__infoblock {text-align: right;}
    &__social {
        li {display:inline-block; vertical-align: middle; margin-left:15px;}
        use {fill:#2b79be}
        a:hover use {fill:#5f98da}
        .green-eye-icon {
            use {fill:#80be2b;}
            &:hover use {fill:#99d647}
        }
    }
    &__contacts {line-height:(17/14)*1em; font-size: 14px; letter-spacing: 0.02em; color: #4e7ab5; margin-top:16px;}
}

/* ####################### */

.page-heading {text-align: center; width:100%; margin-top:22px;
    &__container {display:inline-block; text-align: left;}
    &__breadcrumbs {margin-left: -11px;
        li {display:inline-block; vertical-align: top; margin-right:20px;
            &:last-child {margin-right:0;}
        }
        a {line-height:(24/20)*1em; font-size: 20px; color: #7cb8ff; display:inline-block; position: relative; padding-left:13px;
            &:before {position: absolute; content:""; width:6px; height:12px; background-color:#ccc; left:0; top:0; bottom:0; margin:auto; transition:all .25s ease-in-out; transform:translate3d(0,0,0);}
            &:hover:before {transform:translate3d(-5px,0,0);}
        }
        
    }
    &__heading {line-height:(89/74)*1em; font-size: 74px; font-weight: 300; color: #7cb8ff; text-transform: uppercase; margin-top:-2px;}
}

/* ####################### */

.search-block {text-align: center; margin-top:8px;
    &__form {width:680px; max-width:100%; display:inline-block; position: relative}
    &__input {width:100%; line-height:52px; height:52px; text-align: center; box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.06), 0 18px 50px -20px rgba(0, 0, 0, 0.35); font-size:15px; border-radius:1000px;}
    &__nav {position: absolute; width:32px; height:32px; top:0; bottom:0; right:23px; margin:auto;}
    &__start {z-index:1; width:100%; height:100%; position: absolute; top:0; left:0; background-color:#ccc; border:0;}
    &__close {z-index:2; position: absolute; top:0; left:0; width:100%; height:100%;
        img {position: absolute; top:0; left:0; right:0; bottom:0; margin:auto;}
    }
}

/* ####################### */

.text-image-block {overflow:hidden; border-radius:0 56px 56px 56px; position: relative; padding: 49px 42% 38px 75px; box-sizing: border-box;
    $text-image-block-heading: #4e7ab5;
    $text-image-block-text: #7c7c7c;
    $text-image-block-bgcolor: #f0f0f0; 
    
    background-color:$text-image-block-bgcolor; box-shadow:0 60px 80px -54px rgba(0, 0, 0, 0.12);
    
    &__heading {font-family: $muller; font-size: 53px; font-weight:100; line-height:(64/53)*1em; color:$text-image-block-heading; position:relative; z-index:2;}
    &__text {color:$text-image-block-text; font-size:15px; line-height:(18/15)*1em; position:relative; z-index:2; margin-top: 18px;}
    &__buttons {display:block; position:relative; z-index:2; margin-top:22px;
        .button {display:inline-block; margin-right:20px; min-width:173px;}
    }
    &__bgimage {position: absolute; right:0; bottom:0; max-height:100%;}
	&_notext {height: 586px; padding: 0; background-color: #fff;
		p, div {margin: 0;}
		img {left: 0; top: 0; margin: auto;}
	}
}

/* ####################### */

.main-content {margin-top:35px;}

/* ####################### */

.footer {background-color: #fafafa; padding:68px 0 32px;
    .container {display:flex; justify-content: space-between; align-content: flex-start; box-sizing:border-box; padding:0 34px;}
    &__col {margin:0 15px;
        &:first-child {margin-left:0}
        &:last-child {margin-right:0}
    }
    &__menu, &__contacts {font-size:14px; line-height:(17/14*1em); letter-spacing: 0.02em; color:#6e6e6e;}
    &__menu a:hover {color:#4e7ab5}
    &__agency {font-size:12px; line-height:(15/12)*1em; letter-spacing: 0.02em; color:#86898c;
        a {display:block; margin:11px 0 10px;
            &:hover {opacity:.7}
        }
    }
    &__contacts a {color:#4e7ab5; font-weight:700; text-decoration: underline;
        &:hover {color:#5f98da}
    }
    &__logo {margin:-43px 0 0 -37px; display:inline-block;
        img {background-color:#ccc;}
    }
    &__social {margin-top: 16px;
        li {display:inline-block; vertical-align: middle; margin-right:25px;
            &:last-child {margin-right:0;}
        }
        use {fill:#2b79be}
        a:hover use {fill:#5f98da}
    }
    &__copyright {font-size:11px; line-height:(13/11)*1em; color:#6e6e6e; letter-spacing: 0.02em; margin-top: 13px;}
}

/* ####################### */

.blue-links-list {font-size: 16px; color: #3078bf; line-height:1.45em;
    a:hover {color: #5d9bd8;}
    li {padding-left:33px; position: relative;
        &:before {content:"•"; position: absolute; left:8px; top:0;}
    }
}

/* ####################### */

.columns {display:flex; justify-content: space-between; align-content: flex-start;
    &__third {width:27.5%;}
    &__two-of-three {width:63.75%}
    &__one {width:100%}
    &__two {width:45.625%}
    &__maintext {text-indent: 28px; font-size:15px; line-height:1.25em; color: #4b4b4b; letter-spacing: 0.003em;
        &+.columns__maintext {margin-top:25px;}
    }
}

/* ####################### */

.page-content-padding {box-sizing:border-box; padding-left:74px;}

/* ####################### */

.content-changer {text-align: center;
    li {display:inline-block; margin-right:47px; vertical-align: middle; font-size:20px; line-height:(24/20)*1em; white-space: nowrap; transition: all .25s ease-in-out; color: #3078bf; border-bottom:2px dotted; border-color: transparent; cursor:pointer;
        &.active {border-color:inherit}
        &:hover {color: #5d9bd8;}
        &:last-child {margin-right:0;}
    }
}

/* ####################### */

.action-block {min-height: 214px; display: flex; flex-direction: column; position: relative; border-radius: 36px; border: dashed 1px #c9caca; box-sizing: border-box; padding: 16px 16px 23px 16px; overflow: hidden; box-shadow: 0 29px 35px -20px rgba(0, 0, 0, 0.1);
	&:nth-child(n+3) {margin-top: 28px;}
    &__heading, &__text, &__bottominfo {position: relative; z-index:2; max-width:58%;}
	&__heading {font-size: 46px; font-weight: 300; color: #4e7ab5;}
    &__text {flex: 1; font-size: 15px; color: #7c7c7c; line-height: 1.25em; margin-top: 15px;}
	&__bottominfo {font-size: 11px; color: #86898c; padding-left: 3px; letter-spacing: 0.02em;
		a:hover {opacity: 0.7;}
	}
	&__image {position: absolute; top: 0px; bottom:0; right: 33px; margin:auto; max-height: 80%; max-width: 80%; background-color: #ccc; z-index:1;
		&_bg {height: 100%; max-height: 100%; max-width: initial; top: 0; right: 0;}
	}
    
	&_lightblue {background-color: #eaeaec;
		.action-block__heading {color: #4a414b;}
	}
	&_lightgold {background-color: #f1e9d2;
		.action-block__heading {color: #4a414b;}
	}
}

/* ####################### */

.service-block {min-height: 278px; position: relative; border-radius: 36px; box-sizing: border-box; padding: 27px 244px 19px 25px; overflow: hidden; transition: all 0.25s ease-in-out; display: flex; flex-direction: column; align-items: flex-start; transform:translate3d(0,0,0); box-shadow:inset 0 0 0 1px rgba(black,.06);
	&:nth-child(n+3) {margin-top: 24px;}
	&:hover {box-shadow: inset 0 0 0 1px rgba(black,.06), 0 29px 35px -20px rgba(0, 0, 0, 0.1);
		.button {opacity: 1; pointer-events: all; transform:translate3d(0,0,0);}
	}
	&__heading {min-height: (24/20)*2em;}
	&__text {font-size: 15px; color: #4b4b4b; line-height: 1.25em; margin-top: 2px; flex: 1;}
	.button {opacity: 0; pointer-events: none; min-width: 200px; height: 35px; line-height: 35px; transform:translate3d(0,10px,0); transform-style: preserve-3d; margin-top: 13px;}
	&__img {position: absolute; top: 0; right: 0; height: 100%; width: 223px; overflow: hidden;
		img {position: absolute; left: 0; top: 0; object-fit: cover; min-width: 100%; min-height: 100%; width: 0; background-color: #ccc;}
	}
}

/* ####################### */

.doctor-smallblock {text-align: center;
	&__image {width: 128px; height: 128px; border-radius: 32px; overflow: hidden; margin: auto;
		img {min-width: 100%; min-height: 100%; object-fit: cover; background-color: #ccc; width:0;}
	}
	&__name {font-size: 16px; font-weight: 600; color: #8e99a8; margin-top: 23px;}
	&__info, &__list, &__link {font-size: 14px; color: #8e99a8; line-height: 1.5em;}
	&__info {margin-top: 10px;}
	&__link {text-decoration: underline;
		&:hover {opacity: 0.7;}
	}
}
