@charset "UTF-8";
/* ####################### */
/* Цвета */
/* ####################### */
/* ####################### */
/* Шрифты */
/* ####################### */
/* ####################### */
/* Базовый CSS */
/* ####################### */
/* line 27, C:/wamp64/www/spika/www/css/basics.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

/* line 35, C:/wamp64/www/spika/www/css/basics.scss */
*:focus {
  outline: none; }

/* Цвет выделения текста */
/* line 38, C:/wamp64/www/spika/www/css/basics.scss */
::selection {
  background: #7cb8ff;
  color: white; }

/* line 39, C:/wamp64/www/spika/www/css/basics.scss */
::-moz-selection {
  background: #7cb8ff;
  color: white; }

/* line 40, C:/wamp64/www/spika/www/css/basics.scss */
::-webkit-selection {
  background: #7cb8ff;
  color: white; }

/* Цвет плейсхолдера */
/* line 43, C:/wamp64/www/spika/www/css/basics.scss */
::-webkit-input-placeholder {
  color: #cacaca; }

/* line 44, C:/wamp64/www/spika/www/css/basics.scss */
::-moz-placeholder {
  color: #cacaca; }

/* line 45, C:/wamp64/www/spika/www/css/basics.scss */
:-ms-input-placeholder {
  color: #cacaca; }

/* line 46, C:/wamp64/www/spika/www/css/basics.scss */
:-moz-placeholder {
  color: #cacaca; }

/* Фиксирование для body (при кастомных модальных окнах) */
/* line 49, C:/wamp64/www/spika/www/css/basics.scss */
.noscroll {
  position: fixed; }

/* Настройки для автозаполнения Chrome */
/* line 52, C:/wamp64/www/spika/www/css/basics.scss */
input:-webkit-autofill {
  -webkit-text-fill-color: black !important; }

/* line 56, C:/wamp64/www/spika/www/css/basics.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; }

/* ####################### */
/* Основы */
/* ####################### */
/* line 71, C:/wamp64/www/spika/www/css/basics.scss */
html {
  width: 100%;
  min-height: 100%; }

/* line 72, C:/wamp64/www/spika/www/css/basics.scss */
body {
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: "Lato", Arial, sans-serif; }

/* line 73, C:/wamp64/www/spika/www/css/basics.scss */
html, body {
  overflow-x: hidden; }

/* line 74, C:/wamp64/www/spika/www/css/basics.scss */
header, section, footer, main {
  width: 100%;
  float: left;
  clear: left; }

/* line 75, C:/wamp64/www/spika/www/css/basics.scss */
.container {
  width: 1210px;
  margin: 0 auto; }
  /* line 76, C:/wamp64/www/spika/www/css/basics.scss */
  .container_big {
    width: 1290px; }

/* ####################### */
/* Типографика */
/* ####################### */
/* line 87, C:/wamp64/www/spika/www/css/basics.scss */
h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0; }

/* line 88, C:/wamp64/www/spika/www/css/basics.scss */
ul {
  list-style: none; }

/* line 89, C:/wamp64/www/spika/www/css/basics.scss */
span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit; }

/* line 90, C:/wamp64/www/spika/www/css/basics.scss */
p {
  font-size: 14px;
  line-height: 1.7em; }

/* line 92, C:/wamp64/www/spika/www/css/basics.scss */
.subtitle {
  font-size: 74px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2027em;
  font-weight: 100;
  color: #7cb8ff; }

/* line 93, C:/wamp64/www/spika/www/css/basics.scss */
.smalltitle {
  font-size: 20px;
  line-height: 1.2em;
  color: #8e99a8;
  font-weight: 600;
  letter-spacing: 0.01em; }
  /* line 94, C:/wamp64/www/spika/www/css/basics.scss */
  .smalltitle a {
    border-bottom: 1px solid;
    color: inherit; }
  /* line 95, C:/wamp64/www/spika/www/css/basics.scss */
  .smalltitle a:hover {
    color: #abb3bd; }
  /* line 96, C:/wamp64/www/spika/www/css/basics.scss */
  .smalltitle + .blue-links-list {
    margin-top: 23px; }
  /* line 97, C:/wamp64/www/spika/www/css/basics.scss */
  .smalltitle + .columns__maintext {
    margin-top: 36px; }

/* ####################### */
/* Формы, кнопки, поля ввода */
/* ####################### */
/* line 108, C:/wamp64/www/spika/www/css/basics.scss */
a, input, button, select, textarea, .button, use {
  transition: all .2s ease-in-out;
  box-sizing: border-box; }

/* line 109, C:/wamp64/www/spika/www/css/basics.scss */
a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

/* line 111, C:/wamp64/www/spika/www/css/basics.scss */
select, input, textarea {
  padding: 10px;
  text-align: left;
  margin: 0;
  padding: 0 27px;
  border-radius: 1000px;
  font-size: 15px;
  display: inline-block;
  border: 1px solid #979797; }

/* line 113, C:/wamp64/www/spika/www/css/basics.scss */
input {
  height: 42px;
  color: #979797; }
  /* line 114, C:/wamp64/www/spika/www/css/basics.scss */
  input + input {
    margin-top: 14px; }
  /* line 115, C:/wamp64/www/spika/www/css/basics.scss */
  input + p {
    font-size: 15px;
    margin-top: 22px; }
    /* line 116, C:/wamp64/www/spika/www/css/basics.scss */
    input + p + input {
      margin-top: 14px; }
  /* line 118, C:/wamp64/www/spika/www/css/basics.scss */
  input + textarea {
    margin-top: 13px; }

/* line 121, C:/wamp64/www/spika/www/css/basics.scss */
textarea {
  resize: none;
  height: 131px;
  border-radius: 29px;
  padding: 17px 27px; }
  /* line 122, C:/wamp64/www/spika/www/css/basics.scss */
  textarea + .button {
    margin-top: 12px;
    padding: 0 51px; }

/* line 125, C:/wamp64/www/spika/www/css/basics.scss */
.button {
  text-align: center;
  border-radius: 1000px;
  border: 1px solid #7eb9ff;
  padding: 0 20px;
  display: inline-block;
  color: #3078bf;
  font-size: 14px;
  height: 42px;
  line-height: 40px;
  background-color: transparent; }
  /* line 126, C:/wamp64/www/spika/www/css/basics.scss */
  .button:hover {
    background-color: #3078bf;
    box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.06);
    border-color: #1d8dd3;
    color: white; }
  /* line 127, C:/wamp64/www/spika/www/css/basics.scss */
  .button:active {
    box-shadow: 0 0 0 0 transparent; }
  /* line 128, C:/wamp64/www/spika/www/css/basics.scss */
  .button:disabled {
    border-color: #dedede;
    color: #cacaca; }
  /* line 129, C:/wamp64/www/spika/www/css/basics.scss */
  .button__big {
    height: 44px;
    line-height: 42px;
    font-size: 20px; }

/* ####################### */
/* Элементы UI */
/* ####################### */
/* line 140, C:/wamp64/www/spika/www/css/basics.scss */
.header {
  padding-top: 7px; }
  /* line 141, C:/wamp64/www/spika/www/css/basics.scss */
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  /* line 142, C:/wamp64/www/spika/www/css/basics.scss */
  .header__logo {
    position: relative;
    bottom: 2px; }
    /* line 143, C:/wamp64/www/spika/www/css/basics.scss */
    .header__logo img {
      background-color: #ccc; }
  /* line 145, C:/wamp64/www/spika/www/css/basics.scss */
  .header__menu {
    margin: 0 20px;
    margin-bottom: 34px; }
    /* line 146, C:/wamp64/www/spika/www/css/basics.scss */
    .header__menu li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 28px; }
      /* line 147, C:/wamp64/www/spika/www/css/basics.scss */
      .header__menu li:last-child {
        margin-right: 0; }
    /* line 149, C:/wamp64/www/spika/www/css/basics.scss */
    .header__menu a {
      line-height: 1.21429em;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.026em;
      color: #2c7cc3;
      text-transform: uppercase; }
      /* line 150, C:/wamp64/www/spika/www/css/basics.scss */
      .header__menu a:hover {
        color: #5f98da; }
        /* line 151, C:/wamp64/www/spika/www/css/basics.scss */
        .header__menu a:hover use {
          fill: #5f98da; }
      /* line 153, C:/wamp64/www/spika/www/css/basics.scss */
      .header__menu a use {
        fill: #1893D3; }
      /* line 154, C:/wamp64/www/spika/www/css/basics.scss */
      .header__menu a svg {
        vertical-align: middle;
        margin-bottom: 2px; }
  /* line 157, C:/wamp64/www/spika/www/css/basics.scss */
  .header__infoblock {
    text-align: right; }
  /* line 159, C:/wamp64/www/spika/www/css/basics.scss */
  .header__social li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px; }
  /* line 160, C:/wamp64/www/spika/www/css/basics.scss */
  .header__social use {
    fill: #2b79be; }
  /* line 161, C:/wamp64/www/spika/www/css/basics.scss */
  .header__social a:hover use {
    fill: #5f98da; }
  /* line 163, C:/wamp64/www/spika/www/css/basics.scss */
  .header__social .green-eye-icon use {
    fill: #80be2b; }
  /* line 164, C:/wamp64/www/spika/www/css/basics.scss */
  .header__social .green-eye-icon:hover use {
    fill: #99d647; }
  /* line 167, C:/wamp64/www/spika/www/css/basics.scss */
  .header__contacts {
    line-height: 1.21429em;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #4e7ab5;
    margin-top: 16px; }

/* ####################### */
/* line 172, C:/wamp64/www/spika/www/css/basics.scss */
.page-heading {
  text-align: center;
  width: 100%;
  margin-top: 22px; }
  /* line 173, C:/wamp64/www/spika/www/css/basics.scss */
  .page-heading__container {
    display: inline-block;
    text-align: left; }
  /* line 174, C:/wamp64/www/spika/www/css/basics.scss */
  .page-heading__breadcrumbs {
    margin-left: -11px; }
    /* line 175, C:/wamp64/www/spika/www/css/basics.scss */
    .page-heading__breadcrumbs li {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px; }
      /* line 176, C:/wamp64/www/spika/www/css/basics.scss */
      .page-heading__breadcrumbs li:last-child {
        margin-right: 0; }
    /* line 178, C:/wamp64/www/spika/www/css/basics.scss */
    .page-heading__breadcrumbs a {
      line-height: 1.2em;
      font-size: 20px;
      color: #7cb8ff;
      display: inline-block;
      position: relative;
      padding-left: 13px; }
      /* line 179, C:/wamp64/www/spika/www/css/basics.scss */
      .page-heading__breadcrumbs a:before {
        position: absolute;
        content: "";
        width: 6px;
        height: 12px;
        background-color: #ccc;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all .25s ease-in-out;
        transform: translate3d(0, 0, 0); }
      /* line 180, C:/wamp64/www/spika/www/css/basics.scss */
      .page-heading__breadcrumbs a:hover:before {
        transform: translate3d(-5px, 0, 0); }
  /* line 184, C:/wamp64/www/spika/www/css/basics.scss */
  .page-heading__heading {
    line-height: 1.2027em;
    font-size: 74px;
    font-weight: 300;
    color: #7cb8ff;
    text-transform: uppercase;
    margin-top: -2px; }

/* ####################### */
/* line 189, C:/wamp64/www/spika/www/css/basics.scss */
.search-block {
  text-align: center;
  margin-top: 8px; }
  /* line 190, C:/wamp64/www/spika/www/css/basics.scss */
  .search-block__form {
    width: 680px;
    max-width: 100%;
    display: inline-block;
    position: relative; }
  /* line 191, C:/wamp64/www/spika/www/css/basics.scss */
  .search-block__input {
    width: 100%;
    line-height: 52px;
    height: 52px;
    text-align: center;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.06), 0 18px 50px -20px rgba(0, 0, 0, 0.35);
    font-size: 15px;
    border-radius: 1000px; }
  /* line 192, C:/wamp64/www/spika/www/css/basics.scss */
  .search-block__nav {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    bottom: 0;
    right: 23px;
    margin: auto; }
  /* line 193, C:/wamp64/www/spika/www/css/basics.scss */
  .search-block__start {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    border: 0; }
  /* line 194, C:/wamp64/www/spika/www/css/basics.scss */
  .search-block__close {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    /* line 195, C:/wamp64/www/spika/www/css/basics.scss */
    .search-block__close img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }

/* ####################### */
/* line 201, C:/wamp64/www/spika/www/css/basics.scss */
.text-image-block {
  overflow: hidden;
  border-radius: 0 56px 56px 56px;
  position: relative;
  padding: 49px 42% 38px 75px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  box-shadow: 0 60px 80px -54px rgba(0, 0, 0, 0.12); }
  /* line 208, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block__heading {
    font-family: "Muller", "Lato", Arial, sans-serif;
    font-size: 53px;
    font-weight: 100;
    line-height: 1.20755em;
    color: #4e7ab5;
    position: relative;
    z-index: 2; }
  /* line 209, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block__text {
    color: #7c7c7c;
    font-size: 15px;
    line-height: 1.2em;
    position: relative;
    z-index: 2;
    margin-top: 18px; }
  /* line 210, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block__buttons {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 22px; }
    /* line 211, C:/wamp64/www/spika/www/css/basics.scss */
    .text-image-block__buttons .button {
      display: inline-block;
      margin-right: 20px;
      min-width: 173px; }
  /* line 213, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block__bgimage {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%; }
  /* line 214, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block_notext {
    height: 586px;
    padding: 0;
    background-color: #fff; }
    /* line 215, C:/wamp64/www/spika/www/css/basics.scss */
    .text-image-block_notext p, .text-image-block_notext div {
      margin: 0; }
    /* line 216, C:/wamp64/www/spika/www/css/basics.scss */
    .text-image-block_notext img {
      left: 0;
      top: 0;
      margin: auto; }
  /* line 219, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block_fullbg img {
    left: 0;
    top: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 0;
    max-height: auto; }
  /* line 221, C:/wamp64/www/spika/www/css/basics.scss */
  .text-image-block_map {
    height: 586px;
    padding: 0; }

/* ####################### */
/* line 226, C:/wamp64/www/spika/www/css/basics.scss */
.main-content {
  margin-top: 35px; }

/* ####################### */
/* line 230, C:/wamp64/www/spika/www/css/basics.scss */
.footer {
  background-color: #fafafa;
  padding: 68px 0 32px; }
  /* line 231, C:/wamp64/www/spika/www/css/basics.scss */
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    box-sizing: border-box;
    padding: 0 34px; }
  /* line 232, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__col {
    margin: 0 15px; }
    /* line 233, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__col:first-child {
      margin-left: 0; }
    /* line 234, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__col:last-child {
      margin-right: 0; }
  /* line 236, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__menu, .footer__contacts {
    font-size: 14px;
    line-height: 1.21429em;
    letter-spacing: 0.02em;
    color: #6e6e6e; }
  /* line 237, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__menu a:hover {
    color: #4e7ab5; }
  /* line 238, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__agency {
    font-size: 12px;
    line-height: 1.25em;
    letter-spacing: 0.02em;
    color: #86898c; }
    /* line 239, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__agency a {
      display: block;
      margin: 11px 0 10px; }
      /* line 240, C:/wamp64/www/spika/www/css/basics.scss */
      .footer__agency a:hover {
        opacity: .7; }
  /* line 243, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__contacts a {
    color: #4e7ab5;
    font-weight: 700;
    text-decoration: underline; }
    /* line 244, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__contacts a:hover {
      color: #5f98da; }
  /* line 246, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__logo {
    margin: -43px 0 0 -37px;
    display: inline-block; }
    /* line 247, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__logo img {
      background-color: #ccc; }
  /* line 249, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__social {
    margin-top: 16px; }
    /* line 250, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__social li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px; }
      /* line 251, C:/wamp64/www/spika/www/css/basics.scss */
      .footer__social li:last-child {
        margin-right: 0; }
    /* line 253, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__social use {
      fill: #2b79be; }
    /* line 254, C:/wamp64/www/spika/www/css/basics.scss */
    .footer__social a:hover use {
      fill: #5f98da; }
  /* line 256, C:/wamp64/www/spika/www/css/basics.scss */
  .footer__copyright {
    font-size: 11px;
    line-height: 1.18182em;
    color: #6e6e6e;
    letter-spacing: 0.02em;
    margin-top: 13px; }

/* ####################### */
/* line 261, C:/wamp64/www/spika/www/css/basics.scss */
.blue-links-list {
  font-size: 16px;
  color: #3078bf;
  line-height: 1.45em; }
  /* line 262, C:/wamp64/www/spika/www/css/basics.scss */
  .blue-links-list a:hover {
    color: #5d9bd8; }
  /* line 263, C:/wamp64/www/spika/www/css/basics.scss */
  .blue-links-list li {
    padding-left: 33px;
    position: relative; }
    /* line 264, C:/wamp64/www/spika/www/css/basics.scss */
    .blue-links-list li:before {
      content: "•";
      position: absolute;
      left: 8px;
      top: 0; }

/* ####################### */
/* line 270, C:/wamp64/www/spika/www/css/basics.scss */
.columns {
  display: flex;
  justify-content: space-between;
  align-content: flex-start; }
  /* line 271, C:/wamp64/www/spika/www/css/basics.scss */
  .columns__third {
    width: 27.5%; }
  /* line 272, C:/wamp64/www/spika/www/css/basics.scss */
  .columns__two-of-three {
    width: 63.75%; }
  /* line 273, C:/wamp64/www/spika/www/css/basics.scss */
  .columns__one {
    width: 100%; }
  /* line 274, C:/wamp64/www/spika/www/css/basics.scss */
  .columns__two {
    width: 45.625%; }
  /* line 275, C:/wamp64/www/spika/www/css/basics.scss */
  .columns__maintext {
    text-indent: 28px;
    font-size: 15px;
    line-height: 1.25em;
    color: #4b4b4b;
    letter-spacing: 0.003em; }
    /* line 276, C:/wamp64/www/spika/www/css/basics.scss */
    .columns__maintext + .columns__maintext {
      margin-top: 25px; }

/* ####################### */
/* line 282, C:/wamp64/www/spika/www/css/basics.scss */
.page-content-padding {
  box-sizing: border-box;
  padding-left: 74px; }

/* ####################### */
/* line 286, C:/wamp64/www/spika/www/css/basics.scss */
.content-changer {
  text-align: center; }
  /* line 287, C:/wamp64/www/spika/www/css/basics.scss */
  .content-changer li {
    display: inline-block;
    margin-right: 47px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.2em;
    white-space: nowrap;
    transition: all .25s ease-in-out;
    color: #3078bf;
    border-bottom: 2px dotted;
    border-color: transparent;
    cursor: pointer; }
    /* line 288, C:/wamp64/www/spika/www/css/basics.scss */
    .content-changer li.active {
      border-color: inherit; }
    /* line 289, C:/wamp64/www/spika/www/css/basics.scss */
    .content-changer li:hover {
      color: #5d9bd8; }
    /* line 290, C:/wamp64/www/spika/www/css/basics.scss */
    .content-changer li:last-child {
      margin-right: 0; }

/* ####################### */
/* line 296, C:/wamp64/www/spika/www/css/basics.scss */
.action-block {
  min-height: 214px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 36px;
  border: dashed 1px #c9caca;
  box-sizing: border-box;
  padding: 16px 16px 23px 16px;
  overflow: hidden;
  box-shadow: 0 29px 35px -20px rgba(0, 0, 0, 0.1); }
  /* line 297, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block:nth-child(n+3) {
    margin-top: 28px; }
  /* line 298, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block__heading, .action-block__text, .action-block__bottominfo {
    position: relative;
    z-index: 2;
    max-width: 58%; }
  /* line 299, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block__heading {
    font-size: 46px;
    font-weight: 300;
    color: #4e7ab5; }
  /* line 300, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block__text {
    flex: 1;
    font-size: 15px;
    color: #7c7c7c;
    line-height: 1.25em;
    margin-top: 15px; }
  /* line 301, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block__bottominfo {
    font-size: 11px;
    color: #86898c;
    padding-left: 3px;
    letter-spacing: 0.02em; }
    /* line 302, C:/wamp64/www/spika/www/css/basics.scss */
    .action-block__bottominfo a:hover {
      opacity: 0.7; }
  /* line 304, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block__image {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 33px;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
    background-color: #ccc;
    z-index: 1; }
    /* line 305, C:/wamp64/www/spika/www/css/basics.scss */
    .action-block__image_bg {
      height: 100%;
      max-height: 100%;
      max-width: initial;
      top: 0;
      right: 0; }
  /* line 308, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block_lightblue {
    background-color: #eaeaec; }
    /* line 309, C:/wamp64/www/spika/www/css/basics.scss */
    .action-block_lightblue .action-block__heading {
      color: #4a414b; }
  /* line 311, C:/wamp64/www/spika/www/css/basics.scss */
  .action-block_lightgold {
    background-color: #f1e9d2; }
    /* line 312, C:/wamp64/www/spika/www/css/basics.scss */
    .action-block_lightgold .action-block__heading {
      color: #4a414b; }

/* ####################### */
/* line 318, C:/wamp64/www/spika/www/css/basics.scss */
.service-block {
  min-height: 278px;
  position: relative;
  border-radius: 36px;
  border: solid 1px #c9caca;
  box-sizing: border-box;
  padding: 27px 25px 19px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column; }
  /* line 319, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block:nth-child(n+3) {
    margin-top: 24px; }
  /* line 320, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block:hover {
    box-shadow: 0 29px 35px -20px rgba(0, 0, 0, 0.1); }
    /* line 321, C:/wamp64/www/spika/www/css/basics.scss */
    .service-block:hover .button {
      opacity: 1;
      pointer-events: all; }
  /* line 323, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block__heading, .service-block__text {
    max-width: 60.7%; }
  /* line 324, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block__heading {
    min-height: 2.4em; }
  /* line 325, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block__text {
    font-size: 15px;
    color: #4b4b4b;
    line-height: 1.25em;
    margin-top: 2px;
    flex: 1; }
  /* line 326, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block .button {
    opacity: 0;
    pointer-events: none;
    border: solid 2px #1d8dd3;
    width: 200px;
    letter-spacing: 0.02em;
    height: 35px;
    line-height: 35px; }
  /* line 327, C:/wamp64/www/spika/www/css/basics.scss */
  .service-block__img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 37.5%;
    overflow: hidden; }
    /* line 328, C:/wamp64/www/spika/www/css/basics.scss */
    .service-block__img img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      background-color: #ccc; }

/* ####################### */
/* line 334, C:/wamp64/www/spika/www/css/basics.scss */
.doctor-smallblock {
  text-align: center; }
  /* line 335, C:/wamp64/www/spika/www/css/basics.scss */
  .doctor-smallblock__image {
    width: 128px;
    height: 128px;
    border-radius: 32px;
    overflow: hidden;
    margin: auto; }
    /* line 336, C:/wamp64/www/spika/www/css/basics.scss */
    .doctor-smallblock__image img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      background-color: #ccc;
      width: 0; }
  /* line 338, C:/wamp64/www/spika/www/css/basics.scss */
  .doctor-smallblock__name {
    font-size: 16px;
    font-weight: 600;
    color: #8e99a8;
    margin-top: 23px; }
  /* line 339, C:/wamp64/www/spika/www/css/basics.scss */
  .doctor-smallblock__info, .doctor-smallblock__list, .doctor-smallblock__link {
    font-size: 14px;
    color: #8e99a8;
    line-height: 1.5em; }
  /* line 340, C:/wamp64/www/spika/www/css/basics.scss */
  .doctor-smallblock__info {
    margin-top: 10px; }
  /* line 341, C:/wamp64/www/spika/www/css/basics.scss */
  .doctor-smallblock__link {
    text-decoration: underline; }
    /* line 342, C:/wamp64/www/spika/www/css/basics.scss */
    .doctor-smallblock__link:hover {
      opacity: 0.7; }

/* ####################### */
/* line 348, C:/wamp64/www/spika/www/css/basics.scss */
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: right; }
  /* line 349, C:/wamp64/www/spika/www/css/basics.scss */
  .contact-form input, .contact-form textarea {
    width: 100%; }
  /* line 350, C:/wamp64/www/spika/www/css/basics.scss */
  .contact-form input[type="email"] {
    width: 41.7%; }
  /* line 351, C:/wamp64/www/spika/www/css/basics.scss */
  .contact-form input[type="tel"] {
    width: 30%; }
  /* line 352, C:/wamp64/www/spika/www/css/basics.scss */
  .contact-form .button {
    position: relative;
    left: 100%;
    transform: translateX(-100%); }

/* ####################### */
/* line 357, C:/wamp64/www/spika/www/css/basics.scss */
.image-map-link {
  display: block;
  height: 285px;
  border-radius: 6px;
  background-color: #ccc; }

/*# sourceMappingURL=basics.css.map */