@import "basics.scss";

/* ####################### */
/* Секции, страницы, уникальные блоки */
/* ####################### */

.page-ui {min-height:4000px}

.action-blocks-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .action-block {width: 49.3%;}
}

.service-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .service-block {width: 49.3%;}
}

.doctors-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .doctor-smallblock {width: 16.6666%; margin-top:50px; box-sizing:border-box; padding:0 10px}
}

.sales-page {
    .action-blocks-list {margin-top: 54px;}
    .main-content {padding-bottom: 58px;}
}

.sale-info-page {
	.main-content {margin-top: 10px; padding-bottom: 100px;}
    .columns {margin-top: 102px;}
	//.page-content-padding {padding-right: 74px;} Пока под вопросом
}

.page-section {
	.main-content {margin-top: 92px; padding-bottom: 65px;}
}

.page-doctors {
	.page-heading {margin-top: 52px;}
	.main-content {margin-top: 25px; padding-bottom: 98px;}
	.doctors-list {margin-top: -9px; padding: 0 63px;}
}







/* ####################### */
/* Всплывающие окна и пр. */
/* ####################### */

.popup {display:none;}

@import "adaptive.scss";
