@import "basics.scss";

/* ####################### */
/* Секции, страницы, уникальные блоки */
/* ####################### */

.page-ui {min-height:4000px}

.action-blocks-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .action-block {width: 49.3%;}
}

.service-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .service-block {width: 49.3%;}
}

.doctors-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .doctor-smallblock {width: 16.6666%; margin-top:50px; box-sizing:border-box; padding:0 10px}
}

.sales-page {
    .action-blocks-list {margin-top: 54px;}
    .main-content {padding-bottom: 58px;}
}

.sale-info-page {
	.main-content {margin-top: 10px; padding-bottom: 100px;}
    .columns {margin-top: 102px;}
	//.page-content-padding {padding-right: 74px;} Пока под вопросом
}

.page-section {
	.main-content {margin-top: 92px; padding-bottom: 65px;}
}

.page-doctors {
	.page-heading {margin-top: 52px;}
	.main-content {margin-top: 25px; padding-bottom: 98px;}
	.doctors-list {margin-top: -9px; padding: 0 63px;}
}

.page-patients {
	.page-heading {margin-top: 63px;}
	.main-content {margin-top: 31px; padding-bottom: 63px;}
	.content-changer {margin-top: 48px;
		li {margin-top: 35px;}
	}
	.page-content-padding {padding-left: 117px; margin-top: 58px;}
	.columns__maintext {text-indent: 0; line-height: 1.35em;}
}

.page-contacts {
	.page-heading {margin-top: 81px;}
	.main-content {margin-top: 16px; padding-bottom: 55px;}
	.columns__maintext {text-indent: 0;}
	.page-content-padding {flex-wrap: wrap; margin-top: 127px; padding-left: 82px;
		& + .page-content-padding {margin-top: 63px; padding-right: 35px;
			.columns__third {margin-top: 33px; width: 28.6%;}
		}
	}
	.columns__two-of-three {width: 64.3%; padding-right: 64px; box-sizing: border-box;}
	.contact-form {margin-top: 31px;}
	.image-map-link {margin-top: 20px;}
}

.page-about {
	.page-heading {margin-top: 80px;}
	.main-content {margin-top: 38px; padding-bottom: 130px;}
	.content-changer {margin-top: 99px;}
	.about-infoblock {margin-top: 42px;}
	.page-content-padding {margin-top: 60px; padding-left: 29px; padding-right: 29px;}
	.columns__two {width: 47.5%;}
	.columns__maintext {text-indent: 0;}
	.content-slider {margin-top: 55px;}
}


/* ####################### */
/* Всплывающие окна и пр. */
/* ####################### */

.popup {display:none;}

@import "adaptive.scss";
