@import "basics.scss";

/* ####################### */
/* Секции, страницы, уникальные блоки */
/* ####################### */

.page-ui {min-height:4000px}

.action-blocks-list {display: flex; flex-wrap: wrap; justify-content: space-between;
    .action-block {width: 49.3%;}
}

.sales-page {
    .action-blocks-list {margin-top: 54px;}
    .main-content {padding-bottom: 58px;}
}

.sale-info-page {
	.main-content {margin-top: 10px; padding-bottom: 100px;}
    .columns {margin-top: 102px;}
	//.page-content-padding {padding-right: 74px;} Пока под вопросом
}






/* ####################### */
/* Всплывающие окна и пр. */
/* ####################### */

.popup {display:none;}

@import "adaptive.scss";
